n8n_workflow.json
{
  "name": "Main",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        1808,
        -928
      ],
      "id": "f3656e7c-9a05-4613-93a1-fc64fc175771",
      "name": "When chat message received",
      "webhookId": "1ab74a11-25b1-40a3-9047-d1629a105a59"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "=If user grnats with a Hi or Hello, just grant back and tell that\nyou are a Bill of Quantities (BoQ) information agent. You answer questions ONLY about BoQ data using the provided information.\nRules:\n\nAnswer only BoQ-related questions using the provided data\nIf the answer isn't in the provided information, say: \"Sorry, I don't know\"\nNever use external knowledge or make assumptions\nBe precise and concise\nIf asked non-BoQ questions, respond: \"I only answer questions about Bill of Quantities\"\n\nRemember: Use only the provided BoQ information. Nothing else."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2432,
        -928
      ],
      "id": "5de62af1-112f-41bb-b9a5-f06adf8d79a0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2512,
        -688
      ],
      "id": "90336540-7883-44ad-8398-05f58a1eb3e1",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "A vector database that stores Bill of Quantities information including item descriptions, codes, specifications, quantities, units, rates, costs, and work categories. It allows the agent to answer user queries by finding the most contextually similar information from stored BoQ documents across multiple projects.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 20,
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "boq_category",
                "value": "={{ $('Basic LLM Chain1').item.json.output.boq_category }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        2640,
        -688
      ],
      "id": "82815f6c-12ee-4366-8946-5cc8921460b1",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "tpuPoxGIMy7G7toG",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        2000,
        576
      ],
      "id": "c04b0012-590f-40d6-af57-768dacad2011",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "tpuPoxGIMy7G7toG",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Loop Over Items').item.json.id }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('Loop Over Items').item.json.name }}"
              },
              {
                "name": "boq_category",
                "value": "={{ $('Basic LLM Chain').item.json.output.boq_category }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2096,
        800
      ],
      "id": "b70d1c4a-6237-49ce-bced-c982064265f2",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2352,
        -688
      ],
      "id": "9e886da9-1698-4378-8794-a895832050fa",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ck5UaUgO9zM0laqk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2176,
        1008
      ],
      "id": "76646688-ac7e-43e5-afc4-fd5e745f7f97",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1968,
        800
      ],
      "id": "b75485a6-ed5e-4a84-baf4-b5c4f5f8490c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "zm1oVQiG8dhX23Ve",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json. id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -848,
        288
      ],
      "id": "6d308683-0d6c-430a-89c5-4f13b26c6d64",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SfNxmEv5jvBYiiTo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ $json.text }}",
        "dataPropertyName": "hash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        48,
        272
      ],
      "id": "05498810-d190-442f-9dbf-ff7c6f4b2bc8",
      "name": "Generate Hash"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "record_manager",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "google_drive_file_id",
              "condition": "eq",
              "keyValue": "={{ $('Google Drive Trigger').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        272,
        272
      ],
      "id": "8ec6ef29-50ca-454f-a4a0-fdc7e156cb7a",
      "name": "Search Record Manager",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "tpuPoxGIMy7G7toG",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1072,
        624
      ],
      "id": "5c6f8b76-8376-4265-bbd3-fc84cddeddf7",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "tableId": "record_manager",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "google_drive_file_id",
              "fieldValue": "={{ $('Google Drive Trigger').item.json.id }}"
            },
            {
              "fieldId": "hash",
              "fieldValue": "={{ $('Generate Hash').item.json.hash }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1168,
        352
      ],
      "id": "af2f79c3-12cd-4bd2-b96a-e8e293266eda",
      "name": " Create a row in Record Manager",
      "credentials": {
        "supabaseApi": {
          "id": "tpuPoxGIMy7G7toG",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "cfca9eef-c064-48ac-8d0c-4aa7e6cf405e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "98a6631a-4ae7-4010-b161-4cb7459d5a19",
                    "leftValue": "={{ $json.hash }}",
                    "rightValue": "={{ $('Generate Hash').item.json.hash }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c202f83f-085e-4c3e-a315-a2e4c7b524e5",
                    "leftValue": "={{ $json.hash }}",
                    "rightValue": "={{ $('Generate Hash').item.json.hash }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        496,
        432
      ],
      "id": "7723078d-7a90-4257-9f84-c889fe899adf",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->> file_id=like.*{{ $('Loop Over Items').item.json.id }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        720,
        592
      ],
      "id": "ccfcc651-326d-468b-9243-e88aacad691a",
      "name": "Delete previous records",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "tpuPoxGIMy7G7toG",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "record_manager",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Search Record Manager').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "hash",
              "fieldValue": "={{ $('Generate Hash').item.json.hash }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1168,
        592
      ],
      "id": "2c70a50c-bed9-4f51-baea-315c871734d8",
      "name": "Update Record Manager",
      "credentials": {
        "supabaseApi": {
          "id": "tpuPoxGIMy7G7toG",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        944,
        592
      ],
      "id": "7873be39-193d-402f-bc14-0249773207b9",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# File Name\n{{ $('Download file').item.json.name }}\n\n# File Contents\n{{ \n$('Set text').item.json.text.split(/\\s+/).length >500\n? $('Set text').item.json.text.split(/\\s+/).slice(0, 500).join(' ') + '...'\n: $('Set text').item.json.text\n}}\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Based on the provided file name and file contents, categorize the document into one among these categories: Civil, Electrical, Plumbing, Mechanical.\n\nOnly output JSON in the following format:\n\n{\n\"boq_category\":\"<electrical>\"\n}\n\nIf you are unsure of either of these, just output N/A in the field\n\nAllowable values for boq_category include\n\nCivil\nElectrical\nPlumbing\nMechanical"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1392,
        448
      ],
      "id": "bb2ed218-517d-4999-96c5-e2b35c3c2b9a",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"boq_category\":\"<electrical>\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1536,
        672
      ],
      "id": "08c596cd-e88a-44fa-a55b-8bbb03e0208a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1376,
        672
      ],
      "id": "7349c539-9718-4dc2-bae6-cd938f10fd66",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zm1oVQiG8dhX23Ve",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "0. New Document\nAdd to Record Manager and Vector Store\n1. No change to Doc\nMove to next file\n2. Change Document\nDelete old vectors and add new ones",
        "height": 176,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        624,
        352
      ],
      "typeVersion": 1,
      "id": "11cd393a-0002-4cd7-af74-ad46bd0dc309",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Based on the context reply with BoQ category i.e Civil or Electrical or Plumbing or Mechanical\nOnly output in JSON"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2032,
        -928
      ],
      "id": "e9c1a597-bd31-4459-9b8f-fc08e34d7c7b",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"boq_category\": \"<electrical>\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2160,
        -688
      ],
      "id": "1c4431a0-e06a-4ecc-b50c-d94b53d38342",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "aeb0bb17-1177-4296-876e-4b6d8fccecc3"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f30e9e98-9370-42d1-a412-26b3132eba8e",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b0b3c0bf-cacb-460d-83fd-c37b6785cece",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -624,
        272
      ],
      "id": "4368939f-3dfe-4a1a-90a0-185dc88862fe",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -400,
        80
      ],
      "id": "13e038f5-5cb7-45d7-93e6-620f8980428a",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "rTMv50FPRtbDBnC3",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d5ea341-9880-4e42-868a-e6c7a672fcb7",
              "name": "text",
              "value": "={{ $json.content || $json.data || $json.text}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        272
      ],
      "id": "514e325c-fccd-4f1c-aac5-7dcfb97109c5",
      "name": "Set text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "447b66ec-b497-4579-ad28-8257e6365bb2",
              "name": "content",
              "value": "={{ $('Set text').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1744,
        448
      ],
      "id": "734b806d-1ca4-45c5-8026-9ffb66276f96",
      "name": "Setup text for embedding"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -400,
        288
      ],
      "id": "14be1baf-5b71-48c8-a4c4-22b233b8f9e5",
      "name": "Extract from PDF"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -400,
        480
      ],
      "id": "f1770dae-45fc-4480-8596-2acf31566fd6",
      "name": "Extract from XLSX"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1952,
        -688
      ],
      "id": "27269e0f-8478-4a0e-af5a-ec471950bfce",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "ck5UaUgO9zM0laqk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-file",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "447c1885-3151-4f26-9cb2-7f2900eb1212",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        912,
        -880
      ],
      "webhookId": "ba4f673d-d717-4e94-b19d-0dd0e4ef6fe2"
    },
    {
      "parameters": {
        "name": "={{ $json.body.data.filename || 'uploaded-file' }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "1ldsyJLlwFC2927eJjP3WhkA50r7sMI1i",
          "mode": "list",
          "cachedResultName": "RAG Files",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ldsyJLlwFC2927eJjP3WhkA50r7sMI1i"
        },
        "options": {}
      },
      "id": "6b5952b7-0452-4a13-a7e0-ab8e5191a969",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1120,
        -880
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SfNxmEv5jvBYiiTo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"fileId\": $json.id, \"fileName\": $json.name, \"webViewLink\": $json.webViewLink } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "9ec5278e-2c13-4221-bdf9-4808aa6fc72d",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1312,
        -880
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "13flPfND6LQvz7lZ_tzxX8GTCW59JM58t",
          "mode": "list",
          "cachedResultName": "Recycle Bin",
          "cachedResultUrl": "https://drive.google.com/drive/folders/13flPfND6LQvz7lZ_tzxX8GTCW59JM58t"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1488,
        -672
      ],
      "id": "111b7153-208f-437a-86c2-dd4f6a5b0ccb",
      "name": "Delete Files",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SfNxmEv5jvBYiiTo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1200,
        -672
      ],
      "id": "fb02b533-ffdf-4586-947a-1dff940924fc",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->> file_id=like.*{{ $('Loop Over Items1').item.json.id }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -304,
        -816
      ],
      "id": "1fbd4cbc-5013-4849-88b6-b0f1b4102e6d",
      "name": "Delete previous records1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "tpuPoxGIMy7G7toG",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -80,
        -816
      ],
      "id": "3a16ddeb-8c75-4bd9-9d48-6241eda5873f",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "record_manager",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "google_drive_file_id",
              "condition": "eq",
              "keyValue": "={{ $('Delete Files').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -848,
        -656
      ],
      "id": "b38a6add-dbd6-441e-adeb-7dc0c3d81709",
      "name": "Search Record Manager1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "tpuPoxGIMy7G7toG",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a173683d-cbc5-4542-abf6-0f45c5cceb28",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -640,
        -656
      ],
      "id": "8f1a6f16-c3e9-4f4b-8a0a-4f8f096989e9",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "record_manager",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Search Record Manager1').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        144,
        -816
      ],
      "id": "b579bc80-8d30-4ad5-9f74-ed8d08bf5707",
      "name": "Delete Record Manager",
      "credentials": {
        "supabaseApi": {
          "id": "tpuPoxGIMy7G7toG",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items1').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        512,
        -640
      ],
      "id": "9f81761d-05fb-4c9b-8a3b-1cd97542e3f9",
      "name": "Delete a file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SfNxmEv5jvBYiiTo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Delete a File",
        "height": 752,
        "width": 2320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1552,
        -1008
      ],
      "typeVersion": 1,
      "id": "63dc3b0d-e442-4243-bb3e-2cb582cd25e2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Upload File",
        "height": 352,
        "width": 848,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        -1008
      ],
      "typeVersion": 1,
      "id": "38162de6-10b5-42aa-bdf2-9720df75e862",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Data Ingestion",
        "height": 2320,
        "width": 6816,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        14528,
        1792
      ],
      "typeVersion": 1,
      "id": "ee24e05b-2090-4d45-9b72-5e7e8612a00f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Retreival Agent",
        "height": 736,
        "width": 1248,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1680,
        -1008
      ],
      "typeVersion": 1,
      "id": "519f2cd4-ea52-447b-b839-9d92688e88a1",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        20720,
        2512
      ],
      "id": "fa28ed69-d5fa-4f58-93c7-ee1b29dbdc41",
      "name": "Embeddings Google Gemini2",
      "credentials": {
        "googlePalmApi": {
          "id": "ck5UaUgO9zM0laqk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        15984,
        3760
      ],
      "id": "ab3d0550-1df8-43bd-81bb-125eb5e978f6",
      "name": "Extract from CSV"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items2').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "0",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        15984,
        3600
      ],
      "id": "25f38b79-ab4f-418b-9aa4-58f61e8a68a5",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gZNyM7KvkTcq2bHO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        15984,
        3088
      ],
      "id": "5a7e8868-cf89-4146-8775-1e4b964601a7",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "destinationKey": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        16192,
        3088
      ],
      "id": "1c77beda-545f-42e1-8afe-53984069b771",
      "name": "Markdown"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "purpose",
              "value": "ocr"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16160,
        2848
      ],
      "id": "475f195c-e901-4278-8369-b436cb4e971c",
      "name": "Upload File",
      "credentials": {
        "mistralCloudApi": {
          "id": "55ajNL8oyGwKNyQc",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.mistral.ai/v1/files/{{ $json.id }}/url",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expiry",
              "value": "24"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16368,
        2848
      ],
      "id": "bbb17aa2-93f6-4177-9e93-9882e3ac4237",
      "name": "HTTP Request",
      "credentials": {
        "mistralCloudApi": {
          "id": "55ajNL8oyGwKNyQc",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"model\":\"mistral-ocr-latest\",\n\"document\": {\n  \"type\": \"document_url\",\n  \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16576,
        2848
      ],
      "id": "c1fa546a-0055-482f-bc11-981c66968331",
      "name": "HTTP Request1",
      "credentials": {
        "mistralCloudApi": {
          "id": "55ajNL8oyGwKNyQc",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ff2e23d-5dfa-44e1-8a32-da689822302e",
              "name": "content",
              "value": "={{ $json.pages.map(p => p.markdown).join('\\n\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16816,
        2848
      ],
      "id": "29675048-20e2-435a-864b-90953e40de92",
      "name": "Aggregate Markdown"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a00a005-fb6e-49cd-8667-eab5dc87aa83",
              "name": "=text",
              "value": "={{ $json.text.replace(/[\\n\\r\\s]/g, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16176,
        2608
      ],
      "id": "e075c186-ed6c-423e-8a2f-fdbb7a1d91dc",
      "name": "Strip Out New Lines & WhiteSpaces"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1bb11b9a-0ebf-4d19-bbfc-fdd3083a8247",
              "leftValue": "={{ $json.text.length }}",
              "rightValue": 1000000,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16464,
        2608
      ],
      "id": "e88f57f1-5107-4a1d-ae4e-9215471834c0",
      "name": "Is OCR needed?"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ldsyJLlwFC2927eJjP3WhkA50r7sMI1i",
          "mode": "list",
          "cachedResultName": "RAG Files",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ldsyJLlwFC2927eJjP3WhkA50r7sMI1i"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        14752,
        2624
      ],
      "id": "e9497ee6-a7ca-4512-aa8b-e6fff0976774",
      "name": "New Files",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SfNxmEv5jvBYiiTo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ldsyJLlwFC2927eJjP3WhkA50r7sMI1i",
          "mode": "list",
          "cachedResultName": "RAG Files",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ldsyJLlwFC2927eJjP3WhkA50r7sMI1i"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        14752,
        2832
      ],
      "id": "e87a6967-833a-47d7-8644-a71eb5cd848e",
      "name": "Updated Files",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SfNxmEv5jvBYiiTo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "allFieldsExcept",
        "fieldsToExclude": "row_number",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        16592,
        3648
      ],
      "id": "52917797-300f-457f-8119-883833a15058",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79cfd4ab-ebcb-4d13-a0dc-4f9b89c44749",
              "name": "array_keys",
              "value": "={{ $json.data.first().keys() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16800,
        3568
      ],
      "id": "e8d2bcfa-1383-499d-9ed9-026d3b521062",
      "name": "Array Keys"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        16816,
        3776
      ],
      "id": "10fa330d-ba02-4674-9cb5-e5b06e1596b7",
      "name": "Summarize"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        17040,
        3680
      ],
      "id": "0df7c4f1-5160-4b73-b5a5-8e85dec901fe",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4d2626cd-5744-417e-ac47-6f3e74a6ff2e",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "ec2b5ee3-4646-4d4b-ae7d-71633cb19565",
              "name": "data_type",
              "value": "={{ $json.data_type }}",
              "type": "string"
            },
            {
              "id": "d383511b-899e-4679-8eee-95c8ed2f0af2",
              "name": "array_keys",
              "value": "={{ $json.array_keys || null }}",
              "type": "string"
            },
            {
              "id": "0f07477b-4725-4407-80df-e331d28d383e",
              "name": "data_rows",
              "value": "={{ $json.data_rows || null }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        17536,
        3680
      ],
      "id": "b3f9d35b-0d37-48e4-9dbb-81dd6a45693d",
      "name": "Set Text (Merged)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "547c5c3c-a186-4dd9-b926-3e63e68b952b",
              "name": "text",
              "value": "={{ $json.concatenated_data }}",
              "type": "string"
            },
            {
              "id": "d5e7085c-2614-4a85-acec-09530828061e",
              "name": "array_keys",
              "value": "={{ $json.array_keys }}",
              "type": "string"
            },
            {
              "id": "34b3c98b-77ef-43d6-8ea0-1feef2669eef",
              "name": "data_type",
              "value": "tabular",
              "type": "string"
            },
            {
              "id": "3b011d83-e5c1-4bb9-bdd0-a5d3a613dcb1",
              "name": "data_rows",
              "value": "={{ $('Aggregate2').item.json.data }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        17280,
        3680
      ],
      "id": "f4ce85a3-4bea-4f56-b1f8-f05d63fd75c5",
      "name": "Set Text for Tabular Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1b59c32-646e-4602-accf-e030745f464c",
              "name": "record_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        19552,
        2048
      ],
      "id": "d444d51f-5cc0-45c9-b21b-fa286f370d67",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set Text (Merged)').item.json.data_type }}",
                    "rightValue": "tabular",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "074230c2-bccd-4ec6-8aaa-dde0af3b584e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tabular"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e180f327-a4e1-4a01-8377-508ba472737e",
                    "leftValue": "={{ $('Set Text (Merged)').item.json.data_type }}",
                    "rightValue": "unstructured",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unstructured"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        19760,
        2048
      ],
      "id": "343caaf3-3f11-469f-ae47-da44560adc39",
      "name": "Switch2"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "tabular_document_rows",
        "filters": {
          "conditions": [
            {
              "keyName": "record_manager_id",
              "condition": "eq",
              "keyValue": "={{ $(' Create a row in Record Manager1').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        19968,
        1952
      ],
      "id": "dea58e78-7c06-4d24-ace4-ab02085ac340",
      "name": "Delete Old Data Rows",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "tpuPoxGIMy7G7toG",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04623ee7-dac8-4891-b132-8e29935b4796",
              "name": "data_rows",
              "value": "={{ $j('Set Text (Merged').item.json.data_rows }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20176,
        1952
      ],
      "id": "e498b326-6f45-4e72-b4b4-be07bb51eaf1",
      "name": "data_rows"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data_rows",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        20384,
        1952
      ],
      "id": "2c876693-e1d1-415d-87ac-3aa007ede4fd",
      "name": "Split Out"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tabular_document_rows",
          "mode": "list",
          "cachedResultName": "tabular_document_rows"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "record_manager_id": "={{ $('id').item.json.record_id }}",
            "row_data": "={{ $json.toJsonString().replaceAll(/'/g,\"''\"') }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "record_manager_id",
              "displayName": "record_manager_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_data",
              "displayName": "row_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        20592,
        1952
      ],
      "id": "c6f98e54-c632-45a4-bb97-e98b8d6ea2db",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "kjYceXo71H82BreB",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        20784,
        2288
      ],
      "id": "363918d3-b519-4930-af9f-acf9349dcf1f",
      "name": "Supabase Vector Store2",
      "credentials": {
        "supabaseApi": {
          "id": "tpuPoxGIMy7G7toG",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Loop Over Items2').item.json.id }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('Loop Over Items2').item.json.name }}"
              },
              {
                "name": "boq_category",
                "value": "={{ $('Basic LLM Chain2').item.json.output.boq_category }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        20880,
        2512
      ],
      "id": "5ceed8bb-29d2-4f0c-b5d7-70a30e7ab3ba",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        20880,
        2720
      ],
      "id": "4d9a5997-27b7-4438-8966-75d59496ec87",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json. id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        15344,
        2640
      ],
      "id": "836a61f1-2a3e-468b-8959-73490c84aef8",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SfNxmEv5jvBYiiTo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ $json.text }}",
        "dataPropertyName": "hash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        17760,
        2832
      ],
      "id": "32d4a5af-5661-4ac4-90e8-f5f9d48b1c3b",
      "name": "Generate Hash1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "record_manager",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "google_drive_file_id",
              "condition": "eq",
              "keyValue": "={{ $('New Files').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        17984,
        2832
      ],
      "id": "208215be-3f8e-4802-9e21-1febe75aeb32",
      "name": "Search Record Manager2",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "tpuPoxGIMy7G7toG",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        15072,
        2624
      ],
      "id": "8e675693-87cb-4089-9712-3410ddede5c7",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "tableId": "record_manager",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "google_drive_file_id",
              "fieldValue": "={{ $('New Files').item.json.id }}"
            },
            {
              "fieldId": "hash",
              "fieldValue": "={{ $('Generate Hash1').item.json.hash }}"
            },
            {
              "fieldId": "data_type",
              "fieldValue": "={{ $('Set Text (Merged)').item.json.data_type }}"
            },
            {
              "fieldId": "schema",
              "fieldValue": "={{ $('Set Text (Merged)').item.json.array_keys || null }}"
            },
            {
              "fieldId": "document_title",
              "fieldValue": "={{ $('New Files').item.json.name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        18960,
        1984
      ],
      "id": "f6ef606c-dd7b-4ff3-ad96-eb86780f7665",
      "name": " Create a row in Record Manager1",
      "credentials": {
        "supabaseApi": {
          "id": "tpuPoxGIMy7G7toG",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "cfca9eef-c064-48ac-8d0c-4aa7e6cf405e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "New Document"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "98a6631a-4ae7-4010-b161-4cb7459d5a19",
                    "leftValue": "={{ $json.hash }}",
                    "rightValue": "={{ $('Generate Hash1').item.json.hash }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No change to Document"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c202f83f-085e-4c3e-a315-a2e4c7b524e5",
                    "leftValue": "={{ $json.hash }}",
                    "rightValue": "={{ $('Generate Hash1').item.json.hash }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Change Document"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        18528,
        2064
      ],
      "id": "dec411c3-b0b5-43dc-a277-0601ddec40b6",
      "name": "Switch3"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->> file_id=like.*{{ $('Loop Over Items2').item.json.id }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        18752,
        2224
      ],
      "id": "8081e396-85b0-436b-bf29-746be475deca",
      "name": "Delete previous records2",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "tpuPoxGIMy7G7toG",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "record_manager",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Search Record Manager2').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "hash",
              "fieldValue": "={{ $('Generate Hash1').item.json.hash }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        19200,
        2224
      ],
      "id": "5a97de17-fce4-4e5a-9f92-848c697585d6",
      "name": "Update Record Manager1",
      "credentials": {
        "supabaseApi": {
          "id": "tpuPoxGIMy7G7toG",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        18976,
        2224
      ],
      "id": "2d9e28e0-e524-494a-a05b-f428470f3e30",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# File Name\n{{ $('Download file1').item.json.name }}\n\n# File Contents\n{{ \n$('Set text1').item.json.text.split(/\\s+/).length >500\n? $('Set text1').item.json.text.split(/\\s+/).slice(0, 500).join(' ') + '...'\n: $('Set text1').item.json.text\n}}\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Based on the provided file name and file contents, categorize the document into one among these categories: Civil, Electrical, Plumbing, Mechanical.\n\nOnly output JSON in the following format:\n\n{\n\"boq_category\":\"<electrical>\"\n}\n\nIf you are unsure of either of these, just output N/A in the field\n\nAllowable values for boq_category include\n\nCivil\nElectrical\nPlumbing\nMechanical"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        20176,
        2160
      ],
      "id": "d61e0575-3da9-4a7c-9dda-a48da013c9d2",
      "name": "Basic LLM Chain2",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"boq_category\":\"<electrical>\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        20336,
        2336
      ],
      "id": "49d0ee88-ff45-49aa-95d4-e05905447bba",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "aeb0bb17-1177-4296-876e-4b6d8fccecc3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Google Doc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f30e9e98-9370-42d1-a412-26b3132eba8e",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "098bb330-9355-4a2f-b2c9-22cab39d5058",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/html",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HTML"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b0b3c0bf-cacb-460d-83fd-c37b6785cece",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3355e960-853d-4df3-9a05-55a18daf68f9",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Google Sheets"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c7bd379c-c250-46ce-ba24-bdf2f008a74f",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CSV"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        15632,
        2592
      ],
      "id": "e8a3a7fe-8135-46ec-b3c0-7d2f780e4294",
      "name": "Switch4"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        15952,
        2416
      ],
      "id": "bce530ae-0fe3-4afb-b139-ffdf962b0502",
      "name": "Get a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "rTMv50FPRtbDBnC3",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d5ea341-9880-4e42-868a-e6c7a672fcb7",
              "name": "text",
              "value": "={{ $json.content || $json.data || $json.text}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        17328,
        2832
      ],
      "id": "7d7b00e1-cb34-4708-b6e9-f11000e2768d",
      "name": "Set text1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "447b66ec-b497-4579-ad28-8257e6365bb2",
              "name": "content",
              "value": "={{ $('Set text1').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20528,
        2160
      ],
      "id": "642beda0-7513-415a-8e7e-0b5b145f59df",
      "name": "Setup text for embedding1"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        15952,
        2608
      ],
      "id": "1d8a206e-3794-441b-8aa3-de460217fa02",
      "name": "Extract from PDF1"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        15984,
        3424
      ],
      "id": "24ea00b5-d729-43af-bfb5-ca5efbe58fef",
      "name": "Extract from XLSX1",
      "retryOnFail": false,
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        20176,
        2336
      ],
      "id": "78660078-bb40-47aa-9405-21a91533a071",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "zm1oVQiG8dhX23Ve",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2720,
        -464
      ],
      "id": "59dbce0c-65ae-4be8-99bc-a8144dccc64d",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "zm1oVQiG8dhX23Ve",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ldsyJLlwFC2927eJjP3WhkA50r7sMI1i",
          "mode": "list",
          "cachedResultName": "RAG Files",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ldsyJLlwFC2927eJjP3WhkA50r7sMI1i"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1424,
        624
      ],
      "id": "618cd5d9-1b9c-4e0a-b379-7eab84103f78",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SfNxmEv5jvBYiiTo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Data Ingestion",
        "height": 1536,
        "width": 4032,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1552,
        -176
      ],
      "typeVersion": 1,
      "id": "6b475e5e-b267-4ce6-9bce-5818cccd4622",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Hash": {
      "main": [
        [
          {
            "node": "Search Record Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Record Manager": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Create a row in Record Manager": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": " Create a row in Record Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete previous records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete previous records": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Record Manager": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Update Record Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Setup text for embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Set text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set text": {
      "main": [
        [
          {
            "node": "Generate Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup text for embedding": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "Set text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from XLSX": {
      "main": [
        [
          {
            "node": "Set text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Files": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Search Record Manager1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete previous records1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Delete Record Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Record Manager1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Delete previous records1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Record Manager": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Set text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Aggregate Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Markdown": {
      "main": [
        [
          {
            "node": "Set text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strip Out New Lines & WhiteSpaces": {
      "main": [
        [
          {
            "node": "Is OCR needed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is OCR needed?": {
      "main": [
        [
          {
            "node": "Set text1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Files": {
      "main": [
        []
      ]
    },
    "Updated Files": {
      "main": [
        []
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Array Keys",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Array Keys": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Set Text for Tabular Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text (Merged)": {
      "main": [
        [
          {
            "node": "Generate Hash1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text for Tabular Data": {
      "main": [
        [
          {
            "node": "Set Text (Merged)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Delete Old Data Rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Data Rows": {
      "main": [
        [
          {
            "node": "data_rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data_rows": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Hash1": {
      "main": [
        [
          {
            "node": "Search Record Manager2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Record Manager2": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Create a row in Record Manager1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": " Create a row in Record Manager1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete previous records2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete previous records2": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Record Manager1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Update Record Manager1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "Setup text for embedding1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Get a document1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from PDF1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from XLSX1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document1": {
      "main": [
        [
          {
            "node": "Set text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set text1": {
      "main": [
        [
          {
            "node": "Generate Hash1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup text for embedding1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF1": {
      "main": [
        [
          {
            "node": "Strip Out New Lines & WhiteSpaces",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from XLSX1": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "caa27788-77fd-4370-82f8-a3eb7bef3d68",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84b66f93f0e9f2a6b30436f3095230c9bdcae6f7a5ccbba7f96543475cf09d31"
  },
  "id": "hOuU41DWgdn3zovY",
  "tags": []
}